*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family:"Exo 2", sans-serif;
    
}

/* ---------- NAVBAR ---------- */
nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 8%;
    border-bottom:6px solid whitesmoke;
}

nav ul{
    list-style:none;
}

nav ul li{
    display:inline-block;
    margin-left:20px;
}

nav ul li a{
    text-decoration:none;
    color:peru;
    font-weight:500;
    
}
nav ul li a:hover{
    text-shadow: 2px 2px 12px cyan ;
    
}


/* ---------- HOME ---------- */
#Home{
    min-height:80vh;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 10%;
}

#Home h3{
    font-size:50px;
}

.violet{
    color:violet;
}

#Home img{
    width:300px;
    border-radius:10% 50% 10% 50%;
}

/* ---------- CONTACT ---------- */
.contact {
    padding-left:10%;
    margin-bottom:40px;
    display: flex;
    flex-direction: row ;
    align-items: center;
}

.contact button{
    background:blue;
    color:white;
    width:150px;
    height:45px;
    border:none;
    border-radius:8px;
    margin-top: 25px;
    margin-bottom:20px;
    transition:0.3s;
}

.contact button:hover{
    background:#ff10ad;
    box-shadow: 0 0 5px #ff96ad, 0 0 25px #ff96ad, 0 0 50px #ff96ad, 0 0 200px #ff96ad;
    
}

.contact a{
    margin-right:15px;
    color:black;
    
}
hr{
    margin-left: 3%;
    margin-right: 3%;
    height: 55px;
    
}
.contact li{
    text-decoration:none;
}
.contact #contact1{
    color: whitesmoke;
    text-decoration: none;
}


/* ---------- ABOUT ---------- */
#About{
    padding:5% 10%;
}

#About h2{
    text-align:center;
    color:blueviolet;
    margin-bottom:40px;
}

.about-container{
    display:flex;
    align-items:center;
    gap:50px;
}

.about-container img{
    width:280px;
    border-radius:120px;
}

.about-container p{
    font-size:18px;
    line-height:1.6;
    text-align:justify;
    padding:2em;
    border:2px double dodgerblue;
    border-radius:5px 70px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

/* ---------- SKILLS ---------- */
#Skills{
    margin:5%;
    height: 0px;
}

#Skills h2{
    text-align:center;
    color:blueviolet;
    margin-bottom:40px;
    height: 0px;
}

.skill-box{
    width:100%;
    border:2px solid black;
    height: 100px;
    padding:0.7em;
    border-radius:10px;
    margin-bottom:20px;
}

#Skills label{
    font-size:15px;
    color:brown;
}

#Skills p{
    text-align:right;
    font-weight:500;
}

#Skills input[type="range"]{
    width:100%;
    height: 10px;
    animation:level 6s;
    color: blue;
    animation-iteration-count: infinite;
}

@keyframes level{
    0%{
        opacity:0;
        transform:scaleX(0);
    }
    25%{
        opacity:0.25;
        transform:scaleX(0.25);
        color: blue;
    }
     75%{
        opacity:0.75;
        transform:scaleX(0.75);
        color: blue;
    } 100%{
        opacity:1;
        transform:scaleX(1);
        color: blue;
    }
}
/*----------PROJECT---------*/
#Projects {
    width: 80%;
    height: 100%;
    border: 3px solid whitesmoke;
    box-shadow: 0 0 5px #fff, 0 0 10px blue, 0 0 20px whitesmoke;
    margin-right: 10%;
    margin-left: 10%;
    padding: 12px;
    border-radius: 10px;
    margin-bottom: 5%;
    display: flex; /* Fixed typo from flexbox to flex */
    flex-direction: row; /* Stacks title, then images */
    align-items: center;
}

.pro{
    text-align: center;
    color: blueviolet;
    margin-top: 50%;
    margin-bottom: 5%;
    padding-left: 10px;
}

#Projects img {
    width: 100%; 
    max-width: 400px;
    height: auto;
    border-radius: 10px;
    margin-right: 20px;
    padding: 50px;
}
.link{
    text-decoration: none;
    color: blue;
}
#resume{
    background:gray;
    color:white;
    width:150px;
    height:45px;
    border:none;
    border-radius:8px;
   
    margin-bottom:20px;
    transition:0.3s;
    margin-left: 45%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

#resume:hover{
    background-color:blue;
    box-shadow: 0 0 5px blue, 0 0 25px blue, 0 0 50px blue, 0 0 200px blue;
    
}

@media (max-width:600px) {
 *{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family:"Exo 2", sans-serif;
}

/* ---------- NAVBAR ---------- */
nav {
        flex-direction: column;
        padding: 15px 5%;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
        text-align: center;
    }

nav ul{
    list-style:none;
}

nav ul li{
    display:inline-block;
    margin-left:20px;
}

nav ul li a{
    text-decoration:none;
    color:peru;
    font-weight:500;
    
}
nav ul li a:hover{
    text-shadow: 2px 2px 12px cyan ;
    
}


/* ---------- HOME ---------- */
#Home{
    max-height:80vh;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 10%;
}

#Home h3{
    font-size:30px;
}

.violet{
    color:violet;
}

#Home img{
    width:200px;
    border-radius:10% 50% 10% 50%;
}

/* ---------- CONTACT ---------- */
.contact {
    padding-left:10%;
    margin-bottom:40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: -35px;
}

.contact button{
    background:blue;
    color:white;
    width:150px;
    height:45px;
    border:none;
    border-radius:8px;
    margin-top: 4.2%;
    margin-bottom:15px;
    transition:0.3s;
}

.contact button:hover{
    background:#ff10ad;
    box-shadow: 0 0 5px #ff96ad, 0 0 25px #ff96ad, 0 0 50px #ff96ad, 0 0 200px #ff96ad;
    
}

.contact a{
    margin-right:15px;
    color:black;
}
hr{
    margin-left: 5%;
    margin-right: 5%;
    height: 55px;
    
}
.contact li{
    text-decoration:none;
}
.contact #contact1{
    color: whitesmoke;
}

/* ---------- ABOUT ---------- */
#About{
    padding:5% 10%;
}

#About h2{
    text-align:center;
    color:blueviolet;
    margin-bottom:40px;
}

.about-container{
    display:block;
    align-items:center;
    gap:50px;
}

.about-container img{
    display: none;
}

.about-container p{
    font-size:18px;
    line-height:1.6;
    text-align:justify;
    padding:2em;
    border:2px double dodgerblue;
    border-radius:5px 70px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 20px;
}

/* ---------- SKILLS ---------- */
#Skills{
    margin-bottom:35%;
    height: 200px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

#Skills h2{
    text-align:center;
    color:blueviolet;
    margin-bottom:40px;
    height: 0px;
}

.skill-box{
    width:100%;
    border:2px solid black;
    padding:0.7em;
    border-radius:10px;
    margin-bottom:15px;
    height: 100px;
    display: inline-block;
}

#Skills label{
    font-size:15px;
    color:brown;
}

#Skills p{
    text-align:right;
    font-weight:500;
}

#Skills input[type="range"] p{
    width:100%;
    height: 10px;
    display: inline;
    animation:level 2s;
    color: blue;
    animation-iteration-count: infinite;
}

@keyframes level{
    0%{
        opacity:0;
        transform:scaleX(0);
    }
    25%{
        opacity:0.25;
        transform:scaleX(0.25);
        color: blue;
    }
     75%{
        opacity:0.75;
        transform:scaleX(0.75);
        color: blue;
    } 100%{
        opacity:1;
        transform:scaleX(1);
        color: blue;
    }
}
#Projects{
    margin-top: 20px;
}
#Projects h3{
    margin-top: 30px;
}
#Projects h2{
    padding-top: 60%;
    padding-bottom: 60%;

}
.pro{
    margin-top: 70%;
}

.link{
    text-decoration: none;
    color: blue;
    font-size: 60%;
}
#resume{
        margin-left: 0;
        display: block;
        margin: 20px auto;
}
}

